<form (ngSubmit)="searchMovie()">
<input type="search" name="search" [(ngModel)]="searchQuery">
<button type="submit" >Search</button>
</form>

<div *ngIf="movies">
    <div class="grid">
        <div *ngFor="let movie of movies.results">
            <div class="card">
                <div class="card-body">
                  <a *ngIf="movie.media_type == 'movie'" routerLink="/movieDetails/{{movie.id}}">
                    <img *ngIf="movie.media_type == 'movie'" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" class="card-img-top" alt="...">
                  </a>
                  <a *ngIf="movie.media_type == 'person'" routerLink="/actorDetails/{{movie.id}}">
                    <img *ngIf="movie.media_type == 'person'" src="https://image.tmdb.org/t/p/w300{{movie.profile_path}}" class="card-img-top" alt="...">
                    <h5 *ngIf="movie.media_type == 'person'">{{movie.name}}</h5>
                  </a>
                  <a *ngIf="movie.media_type == 'tv'" routerLink="/tvDetails/{{movie.id}}">
                    <img *ngIf="movie.media_type == 'tv'" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" class="card-img-top" alt="...">
                  </a>
                </div>
              </div>
        </div>
        </div>
</div>