@media (min-width: 430px) {

    img {
        width: 30vw;
    }
    
    #content {
        font-size: 20px;
        display: grid;
        grid-template-areas:
        "image overview"
        "image genres"
        "image cast"
        ;
    }

    #image {
        grid-area: image;
    }

    #overview {
        grid-area: overview;
    }

    #genres {
        grid-area: genres;
    }

    #cast {
        grid-area: cast;
    }

}