<div id="content">
<div id="image">
<img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" class="card-img-top" alt="...">
</div>


<div id="overview">
<h5>Synopsis:</h5>
    <p >{{movie.overview}}</p>
</div>

<div id="cast">
    <h5>Cast</h5>
        <p *ngFor="let cast of credits.cast | slice:0:5">Character: {{cast.character}} Actor: {{cast.name}}</p>
</div>

<div id="genres">
<h5>Genres:</h5>
<p id="genres" style="display:inline" *ngFor="let genre of movie.genres"> {{genre.name}} </p>
</div>
</div>
<button (click)="goBack()">Go back</button>